fastapi==0.103.2
setuptools==68.2.0
wheel==0.41.2
spacy>=3.7.0, <3.8.0
uvicorn==0.23.2
levenshtein
pytest==7.4.2
pytest_sugar==0.9.7
pytest-asyncio==0.21.1
pytest-cov==3.0.0
langdetect==1.0.9
httpx==0.25.2
fuzzywuzzy==0.18.0
watchdog==3.0.0
python-dotenv==1.0.0